SUPPORTED_DISTROS = {
'IBM z/OS ™': {
	'z/OS Miscellaneous Software': 'ZOS_Software_List',
	'z/OS Rocket Software': 'ZOS_Rocket_Software',
	'z/OS Open Mainframe Project': 'ZOS_OMP',
	'z/OS from IBM-Z-zOS': 'IBM_Z_zOS'
},
'IBM Z and LinuxONE Container Registry': {
	'Container Images for IBM Z and LinuxONE': 'IBMZ_container_registry'
},
'Debian': {
	'12(Bookworm)': 'Debian_Bookworm_List',
	'13(Trixie)': 'Debian_Trixie_List'
},
'ClefOS': {
	'ClefOS Base 7': 'ClefOS_7_List'
},
'openSUSE': {
	'Tumbleweed': 'OpenSUSE_Tumbleweed',
	'Leap 15.6': 'OpenSUSE_Leap_15_6',
	'Leap 16.0': 'OpenSUSE_Leap_16_0'
},
'Fedora': {
	'Fedora 42': 'Fedora_42_List',
	'Fedora 43': 'Fedora_43_List'
},
'SUSE Package Hub SLES': {
},
'Suse Linux Enterprise Server': {
},
'Ubuntu': {
},
'RHEL': {
},
'Alma Linux': {
	'Alma Linux 9': 'AlmaLinux_9_List',
	'Alma Linux 10': 'AlmaLinux_10_List'
},
'Rocky Linux': {
	'RockyLinux 9': 'RockyLinux_9_List',
	'RockyLinux 10': 'RockyLinux_10_List'
},
'IBM Z Validated': {
	'IBM Z Validated RHEL 9': 'IBM_Validated_OSS_List_RHEL_9',
	'IBM Z Validated SLES 15': 'IBM_Validated_OSS_List_SLES_15',
	'IBM Z Validated Ubuntu 22.04': 'IBM_Validated_OSS_List_Ubuntu_2204',
	'IBM Z Validated Ubuntu 24.04': 'IBM_Validated_OSS_List_Ubuntu_2404'
}
}
