<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" style="padding:50px;">
      <h4>Frequently Asked Questions</h4>
    </div>
    <div class="col-md-6" style="padding:20px;">
      <span class="pull-right"><a href="/sdt">Back to search</a></span>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="list-group refinemarginlefttenpx">
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(1), 'glyphicon-minus':questionState(1), 'glyphicon-plus':!questionState(1)};"  ng-click="clickQuestion(1)"> <!-- ng-class="[list-group-item, { 'active':questionState(1) }]"  -->
        What is Software Discovery Tool?
      </div>
      <div class="list-group-item" ng-show="questionState(1)">
        <p>Software Discovery Tool, helps you to search for available packages across OS distributions supported by the s390x architecture in a single user interface.</p>
      </div>
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(2), 'glyphicon-minus':questionState(2), 'glyphicon-plus':!questionState(2)};"  ng-click="clickQuestion(2)"> <!--ng-class="[list-group-item, { 'active':questionState(2) } ]"-->
        Which operating systems does Software Discovery Tool have data files for?
      </div>
      <div class="list-group-item" ng-show="questionState(2)">
        <p>Currently, Software Discovery Tool contains data for the following operating systems:
        <ul>
            <li>IBM z/OS</li>
            <li>Debian 10(Buster) and 11(Bullseye)</li>
            <li>ClefOS 7</li>
            <li>OpenSUSE Tumbleweed</li>
            <li>OpenSUSE Leap 15.3</li>
            <li>OpenSUSE Leap 15.4</li>
            <li>Fedora 34</li>
            <li>Fedora 35</li>
            <li>AlmaLinux 9</li>
            <li>Rocky Linux 9</li>

        </ul></p>
      </div>
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(3), 'glyphicon-minus':questionState(3), 'glyphicon-plus':!questionState(3)};"  ng-click="clickQuestion(3)">
        Where can I find more details about packages available for various distros?
      </div>
      <div class="list-group-item" ng-show="questionState(3)">
        <p>More details of packages can be obtained directly from following links provided by respective distros.</p>
        <ul>
          <li><a href="https://www.debian.org/distrib/packages" target="blank">Debian 10 "buster"</a>. In this link, under the section <b>Search the contents of packages</b> select the Architecture as s390x from the dropdown to search for packages.</li>
          <li><a href="https://software.opensuse.org/" target="blank">OpenSUSE</a>.</li>
        </ul>
      </div>
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(4), 'glyphicon-minus':questionState(4), 'glyphicon-plus':!questionState(4)};"  ng-click="clickQuestion(4)">
        Does Software Discovery Tool list the packages for all architectures?
      </div>
      <div class="list-group-item" ng-show="questionState(4)">
        <p>No. The packages that Software Discovery Tool lists are for s390x architecture.</p>
      </div>
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(5), 'glyphicon-minus':questionState(5), 'glyphicon-plus':!questionState(5)};"  ng-click="clickQuestion(5)">
        What is the format for entering the search keywords?
      </div>
      <div class="list-group-item" ng-show="questionState(5)">
        <p>The keyword must be three or more characters.
        <ul>
           <li>To search for a package that contains the keyword anywhere in its name, enter three or more characters</li>           
           <li>To search for a package that contains the keyword at the end of its name, enter the asterisk character, followed by three or more characters. For example, enter <b>*docker</b> to search for package names that end with the string <b>docker</b>.</li>
           <li>To search for a package that contains the keyword at the beginning of its name, enter three or more characters followed by the asterisk character. For example, enter <b>docker*</b> to search for package names that begin with the string <b>docker</b>.</li>
           <li>To search for package names that exactly match the keyword, enter three or more characters, and then click the <b>Search <keyword> (Exact Match)</b> hyperlink.</li>
        </ul>
        </p>
      </div>
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(6), 'glyphicon-minus':questionState(6), 'glyphicon-plus':!questionState(6)};"  ng-click="clickQuestion(6)">
        How can I narrow my search?
      </div>
      <div class="list-group-item" ng-show="questionState(6)">
        <p>To get packages which exactly matches the search keyword, click on the hyperlink &quot;Search &lt;keyword&gt; (Exact Match)&quot; after entering search keyword</p>
      </div>
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(7), 'glyphicon-minus':questionState(7), 'glyphicon-plus':!questionState(7)};"  ng-click="clickQuestion(7)">
        How can I refine my search results?
      </div>
      <div class="list-group-item" ng-show="questionState(7)">
        <p>For every successful search, Software Discovery Tool displays a panel next to the results grid.  You may enter a few characters of Package Name or Version in the 'Refine your results' text box and the results will be filtered automatically as you type.</p>
        <p>Similarly you may select or unselect the specific Distro Versions under "Filter distribution" to locate the necessary package.</p>
        <p>With each distro version, Software Discovery Tool displays count of displayed packages and total packages found per Distro Version for your help.</p>
      </div>
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(8), 'glyphicon-minus':questionState(8), 'glyphicon-plus':!questionState(8)};"  ng-click="clickQuestion(8)">
        What package details does Software Discovery Tool display in the search results?
      </div>
      <div class="list-group-item" ng-show="questionState(8)">
        <p>Software Discovery Tool displays the following package details in the search results:
           <ul>
           <li>Package Name</li>
           <li>Package Version</li>
           <li>Package Description</li>
           <li>Operating system for which the package is available</li>
           </ul>
        </p>
      </div>
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(9), 'glyphicon-minus':questionState(9), 'glyphicon-plus':!questionState(9)};"  ng-click="clickQuestion(9)">
        How accurate is the package information that Software Discovery Tool provides?
      </div>
      <div class="list-group-item" ng-show="questionState(9)">
        <p>The package information is regularly updated. It is accurate as on the date of the update. The z/OS software list and the other operating systems software lists are maintained by the community in the <a href="https://github.com/openmainframeproject/software-discovery-tool-data">Software Discovery Tool Data Repository</a>.</p>
      </div>
      <div class="list-group-item list-group-item-info ng-class:{'active': questionState(10), 'glyphicon-minus':questionState(10), 'glyphicon-plus':!questionState(10)};"  ng-click="clickQuestion(10)">
        Where can I find more information on running open source packages on z/OS and other Linux distributions?
      </div>
      <div class="list-group-item" ng-show="questionState(10)">
        <p>More information on some of the open source work being done can be found in <a href="https://openmainframeproject.org/">The Open Mainframe Project</a> and you can learn more and join the discussion around packages that have been ported and/or validated on corresponding distro versions by <a href="https://www.ibm.com/community/z/open-source/">IBM in the IBM Community for Open Source on IBM Z and LinuxONE</a>.</p>
      </div>
    </div>
  </div>
</div>
